* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #008CBA;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo-img {
    height: 50px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

/* contactformulier */

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

form label {
    margin-bottom: 10px;
    text-align: left;
}

form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #005f73;
}

/* 
-------------------------------------------------------------------------- */


/* footer */

footer {
    background-color: #008CBA;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
}



